.couse-detail-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}
.detail-heading {
  color: #fff;
  font-weight: 600;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.detail-offer {
  font-size: 64px;
}
.strike-color {
  text-decoration: line-through;
  text-decoration-color: #ff0000;
}
.offer-price {
  color: #0096ff;
  font-family: "Roboto" !important;
}
.detail-text-box {
  display: flex;
  /* gap: 30px; */
  align-items: center;
  gap: 64px;
}
.detail-text-box {
  color: #fff;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.detail-icon {
  height: 68px;
  width: 68px;
}
.course-detail-span {
  color: #0096ff;
}
.tab-menu-class {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  /* color: #fff; */
}
.payment-page-box {
  padding: 4rem;
}
.Subcription-box {
  /* width: 100%; */
  background: #ffffff;
  border-radius: 8px;
}
.tab-item-class {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.tab-btn-cls {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-bottom: 0;
  background: #0096ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}
.tab-text {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #3c4852;
}

.cls-heading {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125.3%;
  color: #3c4852;
  text-align: center;
}

.selection-class {
  height: 65px;
  background: #d7eddd;
  border: 2px solid #47ba68;
  border-radius: 4px;
}

.payment-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1rem;
}
.subscription-btn-class {
  height: 65px;
  border: 2px solid #bebebe;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #3c4852;
  position: relative;
}

.subscription-btn-class:disabled,
button[disabled] {
  background: #e7e7e7;
  border: 2px solid #bebebe;
  border-radius: 4px;
  color: #bebebe;
  font-weight: 600;
}

.subscription-btn-class:focus {
  background: #d7eddd;
  border: 2px solid #47ba68;
  border-radius: 4px;
  font-size: 16px;
  color: #3c4852;
  font-weight: 600;
}

.subscription-status-circle,
.subscription-disable-circle {
  display: inline-block;
  border-radius: 50%;
  width: 26.67px;
  height: 26.67px;
}
.subscription-status-circle {
  border: 2px solid #bebebe;
}
.subscription-disable-circle {
  border: 2px double #bebebe;
  background-color: #bebebe;
  box-shadow: inset 0px 0px 0px 3px #e7e7e7;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.subscription-text-cls {
  text-align: start;
}
.class-total-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.class-total-month .class-total-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.status-text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.subscription-btn-class:focus {
  background: #d7eddd;
  border: 2px solid #47ba68;
  border-radius: 4px;
  font-size: 16px;
  color: #3c4852;
  font-weight: 600;
}

.subscription-fee-text-box {
  height: 180px;
  background: #ffffff;
  border-top: 2px solid #bebebe;
  /* padding: 1rem; */
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 1rem;
}
.cancle-btn:focus {
  background: #ffffff;
  border: 1px solid #de4313;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #de4313;
}
.subscription-fee-text-cls {
  font-family: "Roboto" !important;
  font-size: 16px;
  line-height: 120%;
  color: #3c4852;
  margin-left: 1rem;
}

.subscription-fee-text-amount {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #3c4852;
}
.subscription-div {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.limited-offer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #de4313;
  margin-bottom: 6px;
}

.deduction-amount {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #3c4852;
  margin-bottom: 6px;
}
.offfer-container {
  height: 76px;
  background: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2) 0%,
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(222, 67, 19, 0.2) 2.92%,
    rgba(222, 68, 20, 0.2) 6.37%,
    rgba(223, 69, 21, 0.2) 10.97%,
    rgba(223, 72, 22, 0.2) 16.59%,
    rgba(224, 75, 24, 0.2) 23.1%,
    rgba(225, 80, 27, 0.2) 30.37%,
    rgba(227, 86, 31, 0.2) 38.27%,
    rgba(229, 94, 36, 0.2) 46.66%,
    rgba(231, 104, 43, 0.2) 55.41%,
    rgba(235, 117, 51, 0.2) 64.39%,
    rgba(238, 132, 60, 0.2) 73.47%,
    rgba(243, 149, 71, 0.2) 82.52%,
    rgba(248, 169, 84, 0.2) 91.41%,
    rgba(254, 193, 99, 0.2) 100%
  );
  border-radius: 8px;
  border: 2px solid #f00;
  padding: 1rem 1rem 1rem 1.5rem;
}
.offer-container-box {
  display: flex;
  justify-content: space-between;
}
.limited-time-icon {
  color: #de4313;
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 0.5rem;
}
.offer-date-icon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #de4313;
  display: inline;
}
.total-div-text {
  font-weight: 600;
}
.total-div {
  margin-top: 10px;
}
.button-container {
  display: flex;
  padding: 1rem;
  padding-top: 0.5rem;
  gap: 0.5rem;
}
.button-container .button {
  flex-grow: 1;
  margin-bottom: 1rem;
  height: 56px;
  border-radius: 4px;
}
.cancle-btn {
  background: #ffffff;
  border: 1px solid #de4313;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #de4313;
}
.pay-btn {
  background: #47ba68;
  border-radius: 4px;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: 0;
}

.razor-pay {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.expire-tag-cls,
.sub-tag-cls {
  position: absolute;
  width: 121px;
  height: 16px;
  left: 62px;
  top: 0px;
  border-radius: 0px 0px 4px 4px;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}
.expire-tag-cls {
  background: #f77171;
}
.sub-tag-cls {
  background: #47ba68;
}
.radio-style {
  background: #47ba68;
  border: 2px solid #47ba68;
}
